.desc-switch {
    width: 150px;
    height: auto; 
    padding: 40px 10px;
    text-align: center; 
    vertical-align: middle;
    font-family: Open Sans L;
    font-size: 19px; 
}

.desc-switch:hover {
    opacity: 0.9;
}
 
#developer {
    background-color: rgb(0,66,113);
    color:#fff;
}

#designer {
    background-color: #ddd;
    color: #333;
    border: 2px solid #ccc; 
} 

#apply-nav{
    position: relative;
    width: auto;
    display: inline-block;
    margin-left:10%;
    float: left;
}

@media screen and (max-width:550px){
    #apply-nav{
        margin-left:20%; 
    }
}

@media screen and (max-width:880px) and (min-width:550px){
    #apply-nav{
        margin-left:35%; 
    }
}

@media screen and (max-width:880px){
    #description{
        margin-left: 15%;
        text-align: center;
    }
}

@media screen and (min-width:880px){
    #apply-nav{
        margin-left:10%; 
    }
    #description{ 
        margin-left: 30%;
        text-align: left;
    }
}

#description{
    position: relative;
}

.desc-switch{
    cursor: pointer;
}
.desc {
    width: 70%;
    display: none;
    margin-right: 10%;
    font-family: Open Sans L;
    height: 350px;  
    padding:1em;
}
.info{
    display: inline-block;
}
.form-scroll {
    font-family: Open Sans L;
    margin-left: 10%;
}

/** Form **/
.checkbox{
    margin-left:20px;
    font-size: 20px;
}
label{
    font-size: 16px;
}