/** Fonts **/
@font-face{
    font-family: Bebas;
    src: url('BebasNeue.otf');
}
@font-face{
    font-family: Geo Sans;
    src: url('../fonts/GeosansLight.ttf');
}
@font-face{
    font-family: Open Sans L;
    src: url('../fonts/OpenSans-Light.ttf');
}
@font-face{
    font-family: Open Sans R;
    src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face{
    font-family: Open Sans SB;
    src: url('../fonts/OpenSans-Semibold.ttf');
}

/** Document Styles **/
body, html{
    position: relative;
    
}

a:hover{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
p, span, label, input, li{
    font-family: Open Sans R;
    color: #384045; 
}
h1, h2, h5{
    font-family: Bebas;
    margin-top: 20px;
}
h1{
    font-size: 45px;
}
ul{
    list-style-type: none;
}
/** Helper Classes **/
.section{
    width: 100%;
    height: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
}
.half{
    width: 400px;
}
.left-float{
    float: left;
}
    .section-title{
        width: 100px;
        height: auto;
        padding: 8px;
        text-align: center;
        margin: 0 auto;
        border: 2px solid #768792;
    }
    .section-heading{
        text-align: center;
        margin: 0 auto;
    }
    .section-title-long{
        width: 175px;
        height: auto;
        padding: 8px;
        text-align: center;
        margin: 0 auto;
        border: 2px solid #768792;
    }
    .section > p{
        width: 90%;
        text-align: justify;
        margin-left: 5%;
    }
.subtitle{
    font-family: Open Sans R;
    font-size: 21px;
    color: #233845;
}

/** Header + Nav **/
#header{
    width: 100%;
    height: 130px;
    padding-top: 30px;
    padding-bottom: 10px;
    background-image: url('../images/header.jpg');
    background-size: cover;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
    .logo{
        width: 330px;
        height: 100px;
        margin: 0 auto;
    }

.navbar{
    width: 100%;
    height: 60px;
    position: relative;
    background-color: #292F33;
    z-index: 10;
}
    .nav{
        margin-top: 19px;
    }
    .nav > a{
        font-family: Geo Sans;
        border: 2px solid #292F33;
        padding: 5px;
        color: #BBBDC0;
        font-size: 14px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
        .nav > a:hover{
            border: 2px solid #2F363A;
        }
        .active > a{
            border: 2px solid #2F363A;
        }
    .shift{
        margin-left: 5%;
    }
.fix-scroll{
    position: fixed;
    top: 0;
    left: 0;
}
.space{
    width: 100%;
    height: 60px;
}
.flex{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}
.flex-form{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: row;
    flex-direction: row;
}
/** Cover **/
#cover{
    width: 100%;
    height: 500px;
    position: relative;
    background: url("../images/index-cover-01.svg") no-repeat left top;
    background-size: cover;
}

/** Mission **/
#mission{
    background-color: #9FB6C5;
}
    #mission > p{
        text-align: center;
    }
    #apply-intro{
        background-color: #9AB0BF;
    }
    #apply-intro > p{
        width: 80%;
        margin-left: 10%;
    }

/** About / FAQ **/
#about, #faq{
    background-color: #E7F6FF;
}
    #apply-desc{
        background-color: #E7F5FF;
    }
    #about > p{
        margin-left: 23%;
        width: 55%;
        text-align: center; 
    }
.faq-text{
    width: 70%;
    margin-left: 15%;
}
.faq-text > p{
    font-size: 16px;
    text-align: justify;
}

/** Footer **/
footer{
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #2F363A;
    font-family: Open Sans L;
    text-align: center;
}
    footer > p{
        width: 200px;
        margin: 0 auto;
        color: #797C7F;
        font-size: 12px;
        padding-bottom: 15px;
    }
    .footer-menu{
        width: auto;
        margin-bottom: 10px;
    }
    .footer-menu > a{
        font-size: 11px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
        .footer-menu > a:hover{
            color: #797C7F;
        }
    footer > span{
        color: #BBBDC0;
        font-size: 12px;
    }
