.desc-switch {
    width: 150px;
    height: auto;
    padding: 10px;
    text-align: center;
    border: 2px solid #768792;
    font-family: Open Sans L;
    font-size: 19px;
    color: #233845;
}

#apply-nav{
	position: relative;
    width: auto;
    display: inline-block;
    margin-left:10%;
    float: left;
}

@media screen and (max-width:550px){
    #apply-nav{
        margin-left:20%; 
    }
}

@media screen and (max-width:880px) and (min-width:550px){
    #apply-nav{
        margin-left:35%; 
    }
}

@media screen and (max-width:880px){
    #description{
        margin-left: 15%;
        text-align: center;
    }
}

@media screen and (min-width:880px){
    #apply-nav{
        margin-left:5%; 
    }
    #description{ 
    	margin-left: 30%;
        text-align: left;
    }
}

#description{
    position: relative;
}

.desc-switch{
    cursor: pointer;
}
.desc{
    width: 70%;
    display: none;
    margin-right: 20%;
    font-family: Open Sans L;
    height: 400px;
}
.info{
	display: inline-block;
}
.form-scroll {
    font-family: Open Sans L;
    margin-left: 10%;
}

/** Form **/
.checkbox{
    margin-left:20px;
    font-size: 20px;
}
label{
    font-size: 16px;
}