 


/*
.left-words {
    width: 50%;
    height: 1000px;
    display: inline-block;
    background-color: #9FAFBD;
    opacity: 50%;
    padding: 15px;
}
.form-scroll {
    width: 50%;
    height: 1000px;
    float: right;
    overflow: scroll;
    display: inline-block;
    background-color: #8DB6D3;
    padding: 15px;
    padding-bottom: 80px;
    font-family: GeoSans;
} 
 

.left-texts {
    font-family: GeoSans;
}
*/



.checkbox {
    margin-left:20px;
}

label {
    font-size: 16px;
}



.checkbox {
    font-size: 20
}

.intro {
    font-family: Open Sans;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    width: 60%;
    margin: auto;
    
}

h1 {
    font-size: 70px;
}

h5 {
    width: 175px;
    height: auto;
    padding: 10px;
    text-align: center;
    border: 2px solid #768792;
    font-family: Open Sans;
    font-size: 19px;
    color: #233845;
    
}


.heads > h5{
    margin-top: 30px;
}

.descriptions {
    background-color: #E6EBEF;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 430px;
    width: 100%;
}

.heads {
    width: auto;
    display: inline-block;
    margin-left:20%;
}
.desc-container {
    position: relative;
    float: right;
    width: 60%;
    height: 200px;
}
.desc-switch{
    cursor: pointer;
}

.desc {
    width: 60%;
    display: none;
    margin-top: 30px;
    margin-right: 20%;
    font-family: Open Sans;
    overflow: scroll;
    height: 360px;

}

.info {
    display: inline-block;
}

.form-scroll {
    font-family: Open Sans;
    margin-left: 20%;
}

p {
    font-size: 13px;
}

.glyphicon {
    
}

h1 {
    
}
