


.descriptions {
    background-color: #E6EBEF;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 430px;
    width: 100%;
}

.heads {
    width: auto;
    display: inline-block;
    margin-left:20%;
}
.desc-container {
    position: relative;
    float: right;
    width: 60%;
    height: 200px;
}
.desc-switch{
    cursor: pointer;
}

.desc {
    width: 60%;
    display: none;
    margin-top: 30px;
    margin-right: 20%;
    font-family: Open Sans L;
    overflow: scroll;
    height: 360px;

}

.info {
    display: inline-block;
}

.form-scroll {
    font-family: Open Sans L;
    margin-left: 20%;
}

p {
    font-size: 13px;
}

.glyphicon {
    
}

h1 {
    
}
