

.flex{
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-flex-direction: row;
	flex-direction: row;
}

.wrapper{
    width: 100%;
    height: auto;
    padding-bottom: 25px;
    display:block;
}

.logo{
	width: 270px; 
	height: 270px;
    display: inline;
    float:left;
    margin-bottom: 60px;
}

.logo > img{
    width: 270px;
    height: 270px;
}

.logo > p{
	font-size: 48pt;
    text-align: center;
}

.title{
	
}

.screenshots{
	width: 580px
	height: 420px
}

.team-description{
	
}

