
html, body {
    		height: 100%;
    		margin: 0;
    	}

 body{
 	display: flex;
            justify-content: center;
            align-items: center;
        }
 }

 .flexbox{
 	display:flex;
 	flex-wrap: wrap; 
 	justify-content: center;
  
 }



.flex{
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-flex-direction: row;
	flex-direction: row;
}


 div.container{
 	min-height:100%; 
 }

.wrapper{
    width: 100%;
   	margin-left: auto;
   	margin-right: auto;
    height:100vh;

    display:table;
    position:relative;  
}

.logo{
	width: 270px; 
	height: 270px;
    display: inline;
    float:left; 
}

.logo > img{
    width: 270px;
    height: 270px;
}

.logo > h3{
	font-size: 25pt;
    text-align: center; 
}

.h1{

}

.screenshots{
	width: 580px
	height: 420px
}

.team-description{
	
}

